[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
openai = "*"
django-allauth = "*"
psycopg2 = "*"
pypdf2 = "*"
python-decouple = "*"
gpt4all = "*"
moviepy = "*"
ffmpeg-python = "*"
django-ckeditor = "*"
django-ckeditor-5 = "*"
pandas = "*"
openpyxl = "*"
django-modeltranslation = "*"

[dev-packages]

[requires]
python_version = "3.12"
