{% load static %}
{% load user_filters %}
{% load i18n %}
{% block content %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Codescandy" />

    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon/favicon.ico' %}" />

    <!-- darkmode js -->
    <script src="{% static 'js/vendors/darkMode.js' %}"></script>

    <!-- Libs CSS -->
    <link href="{% static 'fonts/feather/feather.css' %}" rel="stylesheet" />
    <link href="{% static 'libs/bootstrap-icons/font/bootstrap-icons.min.css' %}" rel="stylesheet" />
    <link href="{% static 'libs/simplebar/dist/simplebar.min.css' %}" rel="stylesheet" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'css/theme.min.css' %}">
    <title>{% trans "Parolni unutdingizmi?" %}</title>
</head>
<body>
    <section class="container d-flex flex-column vh-100">
        <div class="row align-items-center justify-content-center g-0 h-lg-100 py-8">
            <div class="col-lg-5 col-md-8 py-8 py-xl-0">
                <!-- Card -->
                <div class="card shadow">
                    <!-- Card body -->
                    <div class="card-body p-6 d-flex flex-column gap-4">
                        <div>
                            <a href="{% url 'users:home' %}">
                                <img src="{% static 'images/brand/logo/logo-icon.svg' %}" class="mb-4" alt="logo-icon" />
                            </a>
                            <div class="d-flex flex-column gap-1">
                                <h1 class="mb-0 fw-bold">{% trans "Parolni unutdingizmi?" %}</h1>
                                <p class="mb-0">{% trans "Parolni tiklash uchun shaklni to'ldiring." %}</p>
                            </div>
                        </div>
                        <!-- Form -->
                        <form method="POST" novalidate>
                            {% csrf_token %}
                            {% if form.errors %}
                            <div class="alert alert-danger">
                                <ul>
                                    {% for field, errors in form.errors.items %}
                                        {% for error in errors %}
                                        <li>{{ error }}</li>
                                        {% endfor %}
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                            <!-- Email -->
                            <div class="mb-3">
                                {{ form.email.label_tag }}
                                {{ form.email|add_class:"form-control" }}
                            </div>
                            <!-- Button -->
                            <div class="mb-3 d-grid">
                                <button type="submit" class="btn btn-primary">{% trans "Qayta tiklash havolasini yuboring" %}</button>
                            </div>
                            <span>
                                Return to
                                <a href="{% url 'users:login' %}">{% trans "Tizimga kirish" %}</a>
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Scripts -->
    <!-- Libs JS -->
    <script src="{% static 'libs/%40popperjs/core/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'libs/simplebar/dist/simplebar.min.js' %}"></script>

    <!-- Theme JS -->
    <script src="{% static 'js/theme.min.js' %}"></script>
</body>
</html>
{% endblock %}